GRAPHITE_HOST=localhost
GRAPHITE_PORT=2003
INFLUXDB_HOSTNAME=influxdb
INFLUXDB_PORT=8086
MAX_USERS_PER_SECOND=100
OVER_MINUTES=10
REDIS_HOST=localhost
REDIS_PORT=6379
USERS_PER_SECOND=10
WEB_BACKEND_DOMAIN=localhost:8888
WEB_FRONTEND_DOMAIN=localhost:8080