<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/opt/gatling/results/gatling.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
	</appender>
	<!-- <logger name="io.gatling.http.ahc" level="TRACE" />
	<logger name="io.gatling.http.response" level="TRACE" /> -->
	<!-- <logger name="io.gatling.http.engine.response" level="TRACE" /> -->
	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
</configuration>